<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div class="isi">
      <div class="judul">APLIKASI KASIR</div>
      <ion-img src="https://i.postimg.cc/zXDw8mvC/logo.png"></ion-img>
      <div class="nama">Bakmi Jowo Mantep Roso</div>
      <form action="" method="post">
        <a href="login">
          <button href="login" type="button" class="tombol-login" name="login">
            LOGIN
          </button>
        </a>
        <a href="login">
          <button href="login" type="button" class="tombol-regis" name="login">
            REGISTER
          </button>
        </a>
      </form>
    </div>
  </div>
</ion-content>
